.connect_entete a, .profil a {
    color: #ff6600;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.connect_entete a:hover, .profil a:hover {
    color: #000;
}

.idea {
    background-color: #fff;
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin: 10px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    width: 100%;
}

.idea:hover {
    transform: translateY(-5px);
}

.idea h2 {
    margin-top: 0;
    color: #333;
    font-size: 1.5em;
}

.idea p {
    margin-bottom: 10px;
    color: #555;
}

.idea .status-circle {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 5px;
}

.status-soumis .status-circle {
    background-color: orange;
}

.status-approuvé .status-circle {
    background-color: green;
}

.status-rejeté .status-circle {
    background-color: red;
}

.status-implémenté .status-circle {
    background-color: blue;
}

.idea a {
    display: inline-block;
    margin-top: 15px;
    padding: 8px 20px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.idea a:hover {
    background-color: #0056b3;
}

.floating-button {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #FF6600;
    color: white;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 1000;
    bottom: 80px;
}

.floating-button:hover {
    background-color: #cc5200;
}

.enveloppe {
    background-color: #fff;
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin: 10px 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    width: 100%;
}

.supprime {
    background-color: red;
    border-radius: 5px;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    margin-left: 10px; /* Ajoute un espace à gauche */
}

.supprime:hover {
    background-color: rgb(163, 3, 3);
}

.edit {
    background-color: green;
    border-radius: 5px;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    margin-right: 10px; /* Ajoute un espace à droite */
}

.edit:hover {
    background-color: rgb(2, 86, 2);
}

.groupe {
    margin-left: 400px;
    display: flex;
    justify-content: space-between;
}


.filtre {
    top: 115px;
    right: 20px;
    display: flex;
    align-items: center;
    background-color: #f1f1f1;
    border: 1px solid #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: absolute;
    z-index: 1000;
}

.filtre i {
    margin-right: 10px;
    color: #000;
}

.filtre select {
    padding: 5px;
    border-radius: 5px;
    background-color: #dfdede;
    border: none;
    font-size: 14px;
    outline: none;
}

@media screen and (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .search-bar {
        margin: 10px 0;
        width: 100%;
    }

    .navigation a {
        margin-top: 10px;
    }

    .ideas {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}

@media (max-width: 480px) {
    .header h1 {
        font-size: 20px;
    }

    .form input {
        width: 150px;
    }

    .form input:focus {
        width: 200px;
    }
}
