

/*css pour le bouton de like */
.like-container {
    display: flex;
    align-items: center;
}

.like-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    transition: transform 0.2s ease;
}

.like-button:focus {
    outline: none;
}

.thumb-icon {
    transition: color 0.2s ease, transform 0.2s ease;
}

.like-button:hover .thumb-icon {
    color: #888;
    transform: scale(1.1);
}

.liked .thumb-icon {
    color: #007BFF;
    transform: scale(1.2);
}

.like-count {
    margin-left: 10px;
    font-size: 1.5rem;
    transition: color 0.2s ease;
}

.liked + .like-count {
    color: #007BFF;
}


.search-bar {
    display: flex;
    align-items: center;
    background: #ca895d;
    border-radius: 5px;
    overflow: hidden;
    margin-left: 30px;
    flex: 1;
    border: 2px solid #FF6600;
    outline: none;
    padding: 0;
}

.search-bar form {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0;
}

.search-bar input {
    border: none;
    padding: 10px;
    outline: none;
    color: #000;
    flex: 1;
}

.search-bar button {
    background: #fff;
    border: none;
    color: #FF6600;
    padding: 10px 15px;
    cursor: pointer;
}