.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    background: #fff;
    color: #FF6600;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight : bolder;
}

.logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo img {
    height: 50px;
    margin-right: 10px;
}

.navigation a, .connect_entete a {
    margin: 0 10px;
    color: #FF6600;
    text-decoration: none;
    font-weight : bolder;
}

.navigation a:hover{
    color: #000;
}

.main-content {
    flex: 1;
    padding: 20px;
    background: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.entete h2 {
    margin: 20px 0;
}

form {
    width: 100%;
    max-width: 800px;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.form-group {
    margin-bottom: 20px;
    padding: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group textarea {
    width: 97%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group .contenteditable {
    width: 97%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    min-height: 225px;
    background: white;
    resize: none;
    overflow: auto;
}

.custom-select{
    min-width: 350px;
    position: relative;
}

select
{
    appearance: none;
    width: 100%;
    font-size: 1.15rem;
    padding: 0.675em 6em 0.675em 1em;
    background-color: #fff;
    border: 1px solid #caced1;
    border-radius: 0.25rem;
    color: #000;
    cursor: pointer;
}

.form-group input[type="file"]{
    margin-right: 8px;
    border: none;
    background: #8a94a2;
    padding: 8px 12px;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    width: 97%;
    font-size: 1.15rem;
}

.form-group input[type="file"]:hover
{
    background: #ff6600;
    border-radius: 5px;
}

a,button
{
    text-decoration: none;
    color: white;
    font-weight: bolder;
    width: 50%;
}

.form-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.form-buttons button, .form-buttons a {
    padding: 10px 20px;
    border: none;
    background: #FF6600;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s

}

.form-buttons a {
    background: #f0f0f0;
    text-align: center;
}

.form-buttons a{
    color: #FF6600;
}

.form-buttons button:hover, .form-buttons a:hover {
    background: #FFA500;
}

.footer {
    background: #333;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.toolbar button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #333;
    margin-right: 10px;
}

.toolbar button.active {
    color: #FFA500;
}

#file-name {
    margin-top: 10px;
}

.radio-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.radio-group input[type="radio"]:checked + label {
    color: #ff6600;
}