.header .navigation a, .header .connect_entete a, .header .profil a {
    margin: 0 10px;
    text-decoration: none;
    color: #ff6600;
    font-weight: bold;
}

.header .form-group {
    position: relative;
}

.header .form-group input:focus {
    width: 200px;
}

.header .form-group input {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 0;
    transition: width 0.4s ease-in-out;
}

.navigation a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
}

.form-group {
    position: relative;
}

.form-control {
    padding: 5px 10px;
    border-radius: 20px;
    border: none;
    transition: width 0.4s ease-in-out;
    width: 200px;
}

#search-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

.form-control:focus {
    outline: none;
    width: 250px;
}

.connect_entete, .profil {
    display: flex;
    align-items: center;
}

.connect_entete a, .profil a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.menu-button {
    display: none;
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 1001;
    cursor: pointer;
}

.main-content {
    margin-top: 60px;
    display: flex;
}

.menu-deroulant {
    width: 250px;
    background-color: #333;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -250px;
    transition: left 0.3s;
}

.menu-deroulant ul {
    list-style: none;
    padding: 0;
}

.menu-deroulant ul li {
    padding: 15px;
}

.menu-deroulant ul li a {
    color: white;
    text-decoration: none;
}

.menu-deroulant ul li:hover {
    background-color: #444;
}

.footer-left, .footer-right {
    margin: 0;
}

@media (max-width: 768px) {
    .navigation {
        display: none;
    }
    .menu-button {
        display: block;
    }
}

@media (max-width: 480px) {
    .header h1 {
        font-size: 20px;
    }
    .form-control {
        width: 150px;
    }
    .form-control:focus {
        width: 200px;
    }
}