body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f0f0f0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #d6a98b;
    color: #fff;
}

.header .logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header .logo img {
    height: 40px;
    margin-right: 10px;
}

.header h1 {
    margin: 0;
    font-size: 24px;
}

.header h3 {
    margin: 0;
    font-size: 16px;
    font-weight: normal;
}

.header .navigation,
.header .connect_entete,
.header .profil {
    display: flex;
    align-items: center;
}

.header a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
}

.header .connect_entete a,
.header .profil a {
    display: flex;
    align-items: center;
}

.header .profil i {
    font-size: 24px;
    margin-right: 5px;
}

.main-content {
    display: flex;
    padding: 20px;
}

.menu-deroulant {
    position: absolute;
    top: 100px;
    left: 20px;
    z-index: 1000;
}

.menu-deroulant button {
    background-color: #3a2106e0;
    border: none;
    width: 200px;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.menu-deroulant button::before,
.menu-deroulant button::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 10px; /* Ajustez la largeur selon vos préférences */
    background-color: #ff6600; /* Couleur de l'effet lumineux */
    transition: width 0.3s ease-in-out; /* Animation de transition */
    opacity: 0;
}

.menu-deroulant button::before {
    left: 0;
}

.menu-deroulant button::after {
    right: 0;
}

.menu-deroulant button:hover::before,
.menu-deroulant button:hover::after {
    width: 100%; /* La largeur à laquelle l'effet lumineux doit se développer */
    opacity: 1;
    color: #f0f0f0;
}


.menu-deroulant button:hover {
    background-color: #ff6600;
}

.menu-deroulant ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background: #837d7a;
    position: absolute;
    top: 50px;
    left: 0;
    width: 200px;
    display: none;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.menu-deroulant ul li {
    text-align: center;
    padding: 10px;
}

.menu-deroulant ul li a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s;
}

.menu-deroulant ul li:hover,
.menu-deroulant ul li a:hover {
    background-color: #ff6600;
    border-radius: 5px;
}

.ideas-overview {
    flex: 1;
    padding-left: 240px;
}

.ideas-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.idea {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.idea h3 {
    margin-top: 0;
}

.search-bar {
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
    margin-left: 20px;
    flex: 1;
}

.search-bar input {
    border: none;
    padding: 10px;
    outline: none;
    color: #000;
    width: 100%;
}

.search-bar button {
    background: #fff;
    border: none;
    color: #FF6600;
    padding: 10px 15px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .main-content {
        flex-direction: column;
        padding-left: 20px;
    }

    .search-bar {
        margin: 10px 0;
        width: 100%;
    }

    .navigation {
        display: none;
    }

    .menu-deroulant {
        position: relative;
        top: 0;
        left: 0;
    }

    .menu-deroulant ul {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .header h1 {
        font-size: 20px;
    }

    .search-bar input {
        width: 150px;
    }

    .search-bar input:focus {
        width: 200px;
    }
}